.container {
  height: 100%;
  padding: 20px 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.vara-logo {
  margin-right: 22px;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 48px;
}
